build --cxxopt=-Wall --cxxopt=-Wextra --cxxopt=-Werror
build --cxxopt=-std=c++23

build:coverage --cxxopt='-fprofile-instr-generate' --cxxopt='-fcoverage-mapping' --cxxopt='-O0' --cxxopt='-ftest-coverage' --linkopt='-fprofile-instr-generate'